<label for="formname">
	<f:translate key="tx_lvformmailer_domain_model_formular.formname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="formname" /><br />
<label for="senderemail">
	<f:translate key="tx_lvformmailer_domain_model_formular.senderemail" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="senderemail" /><br />
<label for="sendername">
	<f:translate key="tx_lvformmailer_domain_model_formular.sendername" />
</label><br />
	<f:form.textfield property="sendername" /><br />
<label for="receiveremail">
	<f:translate key="tx_lvformmailer_domain_model_formular.receiveremail" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="receiveremail" /><br />
<label for="receivername">
	<f:translate key="tx_lvformmailer_domain_model_formular.receivername" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="receivername" /><br />
<label for="subject">
	<f:translate key="tx_lvformmailer_domain_model_formular.subject" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="subject" /><br />