<table class="tx-lv-formmailer" >
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_formular.formname" />
		</td>
		<td>
			{formular.formname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_formular.senderemail" />
		</td>
		<td>
			{formular.senderemail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_formular.sendername" />
		</td>
		<td>
			{formular.sendername}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_formular.receiveremail" />
		</td>
		<td>
			{formular.receiveremail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_formular.receivername" />
		</td>
		<td>
			{formular.receivername}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_formular.subject" />
		</td>
		<td>
			{formular.subject}
		</td>
	</tr>
</table>