<label for="sendername">
	<f:translate key="tx_lvformmailer_domain_model_mails.sendername" />
</label><br />
	<f:form.textfield property="sendername" /><br />
<label for="senderemail">
	<f:translate key="tx_lvformmailer_domain_model_mails.senderemail" />
</label><br />
	<f:form.textfield property="senderemail" /><br />
<label for="subject">
	<f:translate key="tx_lvformmailer_domain_model_mails.subject" />
</label><br />
	<f:form.textfield property="subject" /><br />
<label for="body">
	<f:translate key="tx_lvformmailer_domain_model_mails.body" />
</label><br />
	<f:form.textfield property="body" /><br />