<table class="tx-lv-formmailer" >
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_mails.sendername" />
		</td>
		<td>
			{mails.sendername}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_mails.senderemail" />
		</td>
		<td>
			{mails.senderemail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_mails.subject" />
		</td>
		<td>
			{mails.subject}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_mails.body" />
		</td>
		<td>
			{mails.body}
		</td>
	</tr>
</table>