<table class="tx-lv-formmailer" >
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_forms.formname" />
		</td>
		<td>
			{forms.formname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_forms.senderemail" />
		</td>
		<td>
			{forms.senderemail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_forms.sendername" />
		</td>
		<td>
			{forms.sendername}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_forms.receiveremail" />
		</td>
		<td>
			{forms.receiveremail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_forms.receivername" />
		</td>
		<td>
			{forms.receivername}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_forms.subject" />
		</td>
		<td>
			{forms.subject}
		</td>
	</tr>
</table>