<table class="tx-lv-formmailer" >
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_articles.title" />
		</td>
		<td>
			{articles.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_articles.subtitle" />
		</td>
		<td>
			{articles.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_articles.description" />
		</td>
		<td>
			{articles.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_articles.price" />
		</td>
		<td>
			{articles.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_articles.image" />
		</td>
		<td>
			{articles.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_articles.cat" />
		</td>
		<td>
			{articles.cat}
		</td>
	</tr>
</table>