<table class="tx-lv-formmailer" >
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_artikel.title" />
		</td>
		<td>
			{artikel.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_artikel.subtitle" />
		</td>
		<td>
			{artikel.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_artikel.description" />
		</td>
		<td>
			{artikel.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_artikel.price" />
		</td>
		<td>
			{artikel.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_artikel.image" />
		</td>
		<td>
			{artikel.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvformmailer_domain_model_artikel.cat" />
		</td>
		<td>
			{artikel.cat}
		</td>
	</tr>
</table>