<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Forms</h1>

<f:flashMessages />

<table  class="tx_lvformmailer" >
	<tr>
		<th><f:translate key="tx_lvformmailer_domain_model_forms.formname" /></th>
		<th><f:translate key="tx_lvformmailer_domain_model_forms.senderemail" /></th>
		<th><f:translate key="tx_lvformmailer_domain_model_forms.sendername" /></th>
		<th><f:translate key="tx_lvformmailer_domain_model_forms.receiveremail" /></th>
		<th><f:translate key="tx_lvformmailer_domain_model_forms.receivername" /></th>
		<th><f:translate key="tx_lvformmailer_domain_model_forms.subject" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{forms}" as="form">
		<tr>
			<td><f:link.action action="show" arguments="{forms : forms}"> {forms.formname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{forms : forms}"> {forms.senderemail}</f:link.action></td>
			<td><f:link.action action="show" arguments="{forms : forms}"> {forms.sendername}</f:link.action></td>
			<td><f:link.action action="show" arguments="{forms : forms}"> {forms.receiveremail}</f:link.action></td>
			<td><f:link.action action="show" arguments="{forms : forms}"> {forms.receivername}</f:link.action></td>
			<td><f:link.action action="show" arguments="{forms : forms}"> {forms.subject}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{forms : forms}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{forms : forms}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Forms</f:link.action>
</f:section>